@charset "utf-8";

body {
	font: 14px 맑은 고딕;
}

a img {
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline;
}

a:visited {
	color: #6E6C64;
	text-decoration: underline;
}

a:hover,a:active,a:focus {
	text-decoration: none;
}

.container {
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #E7E7E7
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}

h4 {
	text-size: 12px;
	color: #FF3300;
}

.toc ul {
	list-style: none;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.toc ul li {
	display: inline;
	float: left;
	font-size: 20px;
}

.toc a,.toc a:visited {
	padding: 10px 5px 5px 35px;
	display: block;
	color: #000000;
	width: 400px;
	text-decoration: none;
	font-size: 20px;
}

.toc a:hover,.toc a:active,.toc a:focus {
	text-shadow: 0px 2px 2px #000;
	color: #ff0000;
}


.content {
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-left: 10px;
	width: 720px;
	float: left;
}

footer {
	padding: 10px 0;
	background-color: #030;
	color: #fff;
	text-align: center;
	clear: both;
}

header,section,footer,aside,article,figure {
	display: block;
}
