@charset "utf-8";
body {
	font: 14px 맑은 고딕;
	background:#B8DBF8;
}
a img { 
	border: none;
}

a, a:hover, a:active, a:focus {
	text-decoration: none;
} 
.container {
	width: 720px;
	margin : 0 auto;
	background-color:#fff;
}
header {
	height: 280px;
	margin-top: -30px;
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-position: left top;
}

h4 {
	text-size:12px;
	color:#FF3300;
}


.navi{
	background:#036;
	margin-top:-15px;
	width:100%;
	height:60px;
}

.navi ul{
	list-style: none; 
	height:40px;
	padding-top:10px;
	padding-bottom:5px;
}
.navi ul li {
	display:inline;
	float:left;
	font-size:15px;
}
.navi a, .navi a:visited {
	padding: 10px 5px 5px 35px;
	display: block;
	color:#fff;
	width: 120px; 

}
.navi a:hover, .navi a:active, .navi a:focus {
		text-shadow:0px 2px 2px #000;
		color:#FC0;
}

.content {
	background-color: #FFFFFF;	
	padding-top:5px;
	padding-left:10px;
	width: 98%;
	margin-left:auto;
	margin-right:auto;
}


header, section, footer, aside, article, figure {
	display: block;
}
